{% include 'a_header.twig' %}



          <!-- Table -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Acceso denegado </h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p><a onClick="window.history.back();" class="btn btn-primary">Volver Atrás</a></p>
                  <p class="text-muted font-13 m-b-30">
                    Acceso denegado
                  </p>
                </div>
              </div>
            </div>
            
          </div>

        </div>
        <!-- /page content -->


{% include 'a_footer.twig' %}